h1 {
	font-family:arial, sans;
	text-align:center;
        font-size:50px;
        color:green;
}

h2 {
        font-family:Tahoma, Sans-serif;
        font-size:25px;
	padding:0px 20px;	
}

summary {
	font-family:Courier, Monospace;
	font-size:20px;
	margin:10px;
}

details {
	font-family:Tahoma, Sans-serif;
	margin:30px;
}

a.name {
        font-family: Comic Sans, cursive;
        font-size:15px;
        text-decoration:none;
        color:white;
}      

div.by {
	font-size:20px;
	color:white;
        text-align:center;
        margin:0px;
        background-color:black;
}

div.right-div {
	width:45%;
	float:right;
	padding:15px;
}

div.left-div {
	width:50%;
	float:left;
	padding:5px;
}

p {
	font-family:Tahoma, Sans-serif;
	padding:20px;
	margin:20px;
}

div.photo {
	margin:20px 0px;
	padding:20px;
	background-color:#DCDCDC;
}

div.list {
	margin-top:40%;
}
